# Mac files
.DS_Store

# Vim files
*.swp

# Dataset files
netflix_dataset/
sample_netflix_dataset/users
sample_netflix_dataset/movie_ids
sample_netflix_dataset/movies1000
sample_netflix_dataset/movies2000
sample_netflix_dataset/movies
sample_netflix_dataset/user_ratings_1000
sample_netflix_dataset/user_ratings_2000
sample_netflix_dataset/user_ratings
sample_netflix_dataset/test_user_ratings
netflix_recommendation_system/test_training_set/
netflix_recommendation_system/user_ratings_old/
data_processing/data_preprocessing/unique_user_ids
data_processing/data_preprocessing/time_information
netflix_recommendation_system/data_preprocessing/random_sample_users_backup


# Papers and Articles
notes/
papers_articles/
